.show {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  
  .hide {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none; /* Отключает взаимодействие с невидимыми элементами */
  }

  .borderForm{
    border:2px solid;
  }
Input{
  align-self: center !important;
  font-size: large !important;
  font-weight: bold !important;
}